{% extends 'base.html' %}

{% block content %}

<section class="flex justify-center hero-wrap hero-wrap-2 h-full  mb-6" style="background-image: url('/media/images/bg_22.png');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    
    <div class="container w-7/12">
      <div class="flex items-center no-gutters slider-text align-items-end">
        <div class="col-md-9 ftco-animate pb-5">
            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="{% url 'index:home'%}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About<i class="ion-ios-arrow-forward"></i></span></p>
          <h1 class="mb-0 bread">About</h1>
        </div>
      </div>
    </div>
</section>
<section class="flex justify-center  my-6 py-6">   
    <div class="w-10/12 md:w-7/12">
      <div class="flex items-center no-gutters slider-text align-items-end">
        <div class="col-md-9 ftco-animate pb-5">
          <h1 class="mb-0 text-lg">About</h1>
          <p class="text-md font-sans text-gray-600 leading-loose">
            Spacesoft Integral System Ltd. proudly introduces our advanced accounting software, a comprehensive and user-friendly solution designed to revolutionize financial management for businesses of all sizes. This cutting-edge tool combines ease of use with powerful features, making it an essential asset for managing your financial operations efficiently and effectively.
            Our software is built to handle the complexities of modern accounting with ease, offering automated solutions for bookkeeping, invoicing, expense tracking, payroll processing, and financial reporting. The intuitive interface ensures a seamless user experience, allowing business owners and accountants to focus more on growth and decision-making rather than being bogged down by manual financial tasks.
          </p>
          <p class="text-md font-sans text-gray-600 leading-loose">
            Spacesoft Integral System Ltd. is committed to innovation and excellence, and this software exemplifies our dedication to providing world-class solutions that empower businesses to succeed. Let us handle the numbers, so you can focus on achieving your goals.
          </p>
        </div>
      </div>
      <div class="flex items-center no-gutters slider-text align-items-end">
        <div class="col-md-9 ftco-animate pb-5">
          <h1 class="mb-0 text-lg">Who Can Benefit</h1>
          <p class="text-md font-sans text-gray-600 leading-loose">Our software is ideal for small business owners, accountants, freelancers, and growing enterprises seeking an efficient, all-in-one accounting solution. With minimal setup and a short learning curve, it is accessible to those without extensive financial expertise, making it the perfect tool for entrepreneurs looking to manage their own finances.</p>
          <p class="text-md font-sans text-gray-600 leading-loose">Our accounting software stands out for its ease of use, powerful features, and commitment to data security. Embrace the future of accounting and simplify your financial management today.</p>
        </div>
      </div>
    </div>
</section>

{% include 'components/first.html' %}

<!-- {% include 'components/acheivements.html' %} -->

{% include 'components/signup.html' %}

<!-- {% include 'components/testimonies.html' %} -->


{% endblock content %}