{% extends 'base.html' %}

{% block content %}

<!-- carosel -->
<div class="hero-wra">
	<div class="home-slider owl-carousel">
		<div class="slider-item  flex justify-center" style="background-image:url(media/images/bg_11.png);">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="flex items-center justify-center no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-8 ftco-animate">
						<div class="text w-100 text-center">
							<h2 class="text-primary">We Help Business Grow</h2>
							<h1 class="mb-4">We Help You Businesses Innovate and Grow</h1>
							<p><a href="https://acc.afrikbook.com/NewCompany" class="bg-primary p-2 rounded-lg">Connect with us</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item  flex justify-center" style="background-image:url(media/images/bg_22.png);">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="flex items-center justify-center no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-8 ftco-animate">
						<div class="text w-100 text-center">
							<h2>We Support Business</h2>
							<h1 class="mb-4">The Best Business Support</h1>
							<p><a href="https://acc.afrikbook.com/NewCompany" class="bg-primary p-2 rounded-lg">Connect with us</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item  flex justify-center" style="background-image:url(media/images/bg_33.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="flex items-center justify-center no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-8 ftco-animate">
						<div class="text w-100 text-center">
							<h2>We Give Advice</h2>
							<h1 class="mb-4">Expert Financial Advice</h1>
							<p><a href="https://acc.afrikbook.com/NewCompany" class="bg-primary p-2 rounded-lg">Connect with us</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'components/first.html' %}

{% include 'components/second.html' %}

<!-- {% include 'components/acheivements.html' %} -->

{% include 'components/signup.html' %}

<!-- {% include 'components/testimonies.html' %} -->


{% include 'components/plans.html' %}






{% endblock content %}