<dialog id="modal_1" class="modal py-3 px-3 rounded-lg w-1/3">
    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span class="text-primary text-2xl">Track income & expenses</span>
        </div>
        <span>
            <form method="dialog" class="modal-backdrop">
                <button class="py-1 px-3 rounded-full bg-red-500 text-[14px] text-white font-semibold">X</button>
            </form>
        </span>
    </a>
    <div class="modal-box">
        <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

            <ul class="flex flex-col  space-y-6 mb-4">
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Connect your bank accounts to categorize your expenses.</li>
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Sort your income and expenses into fully-customizable categories.</li>
            </ul>

            <a href="#" class="my-6 w-full text-center">more...</a>
           
        </div>
    </div>
    
</dialog>



<dialog id="modal_2" class="modal py-3 px-3 rounded-lg w-1/3">
    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span class="text-primary text-2xl">Send Unlimiited invoice and quotes</span>
        </div>
        <span>
            <form method="dialog" class="modal-backdrop">
                <button class="py-1 px-3 rounded-full bg-red-500 text-[14px] text-white font-semibold">X</button>
            </form>
        </span>
    </a>
    <div class="modal-box">
        <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

            <ul class="flex flex-col  space-y-6 mb-4">
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Send professional-looking quotes, estimates and invoices.</li>
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Track invoices to keep track of who's paid and who hasn't.</li>
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Send invoices via email to reach your customers anywhere.</li>
                <!-- <li class="mb-4"><span class="fa fa-check mr-2"></span>Track invoices to keep track of who's paid and who hasn't.</li> -->
            </ul>

            <a href="#" class="my-6 w-full text-center">more...</a>
           
        </div>
    </div>
    
</dialog>



<dialog id="modal_3" class="modal py-3 px-3 rounded-lg w-1/3">
    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span class="text-primary text-2xl">Send automatic invoice and quotes</span>
        </div>
        <span>
            <form method="dialog" class="modal-backdrop">
                <button class="py-1 px-3 rounded-full bg-red-500 text-[14px] text-white font-semibold">X</button>
            </form>
        </span>
    </a>
    <div class="modal-box">
        <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

            <ul class="flex flex-col  space-y-6 mb-4">
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Set customer auto invoice.</li>
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Send invoices via email to  customer on when invoice is generated.</li>
            </ul>

            <a href="#" class="my-6 w-full text-center">more...</a>
           
        </div>
    </div>
    
</dialog>


<dialog id="modal_4" class="modal py-3 px-3 rounded-lg w-1/3">
    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span class="text-primary text-2xl">Insights & reports</span>
        </div>
        <span>
            <form method="dialog" class="modal-backdrop">
                <button class="py-1 px-3 rounded-full bg-red-500 text-[14px] text-white font-semibold">X</button>
            </form>
        </span>
    </a>
    <div class="modal-box">
        <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

            <ul class="flex flex-col  space-y-6 mb-4">
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Share a professional-looking summary of your finances with your business partners.</li>
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Export reports including profit & loss, expenses, and balance sheets.</li>
            </ul>

            <a href="#" class="my-6 w-full text-center">more...</a>
           
        </div>
    </div>
    
</dialog>


<dialog id="modal_5" class="modal py-3 px-3 rounded-lg w-1/3">
    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span class="text-primary text-2xl">Track Vat</span>
        </div>
        <span>
            <form method="dialog" class="modal-backdrop">
                <button class="py-1 px-3 rounded-full bg-red-500 text-[14px] text-white font-semibold">X</button>
            </form>
        </span>
    </a>
    <div class="modal-box">
        <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

            <ul class="flex flex-col  space-y-6 mb-4">
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Keep track of GST & VAT coming in and going out.</li>
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Know what you owe with real-time calculations for your VAT-related transactions.</li>
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Generate tax reports to share with your accountant or lodge at tax time.</li>
            </ul>

            <a href="#" class="my-6 w-full text-center">more...</a>
           
        </div>
    </div>
    
</dialog>


<dialog id="modal_6" class="modal py-3 px-3 rounded-lg w-1/3">
    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span class="text-primary text-2xl">Track customers, vendors and User activity</span>
        </div>
        <span>
            <form method="dialog" class="modal-backdrop">
                <button class="py-1 px-3 rounded-full bg-red-500 text-[14px] text-white font-semibold">X</button>
            </form>
        </span>
    </a>
    <div class="modal-box">
        <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

            <ul class="flex flex-col  space-y-6 mb-4">
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Track customers and vendors quotes, invoice, payments.</li>
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Track customers invoice monthly, Quaterly and yearly</li>
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Track users services to customers monthly, Quaterly and yearly</li>
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Track users activities on inventory and invoice</li>
            </ul>

            <a href="#" class="my-6 w-full text-center">more...</a>
           
        </div>
    </div>
    
</dialog>


<dialog id="modal_7" class="modal py-3 px-3 rounded-lg w-1/3">
    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span class="text-primary text-2xl">Manage Depts</span>
        </div>
        <span>
            <form method="dialog" class="modal-backdrop">
                <button class="py-1 px-3 rounded-full bg-red-500 text-[14px] text-white font-semibold">X</button>
            </form>
        </span>
    </a>
    <div class="modal-box">
        <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

            <ul class="flex flex-col  space-y-6 mb-4">
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Know who you are oweing and who is oweing you</li>
            </ul>

            <a href="#" class="my-6 w-full text-center">more...</a>
           
        </div>
    </div>
    
</dialog>


<dialog id="modal_8" class="modal py-3 px-3 rounded-lg w-1/3">
    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span class="text-primary text-2xl">Track inventorys</span>
        </div>
        <span>
            <form method="dialog" class="modal-backdrop">
                <button class="py-1 px-3 rounded-full bg-red-500 text-[14px] text-white font-semibold">X</button>
            </form>
        </span>
    </a>
    <div class="modal-box">
        <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

            <ul class="flex flex-col  space-y-6 mb-4">
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Track products and cost of goods, and receive notifications when inventory is low.</li>
                <li class="mb-4"><span class="fa fa-check mr-2"></span>See what's popular, create purchase orders, and manage suppliers.</li>
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Stay stocked for success</li>
            </ul>

            <a href="#" class="my-6 w-full text-center">more...</a>
           
        </div>
    </div>
    
</dialog>


<dialog id="modal_9" class="modal py-3 px-3 rounded-lg w-1/3">
    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span class="text-primary text-2xl">Manage inventory</span>
        </div>
        <span>
            <form method="dialog" class="modal-backdrop">
                <button class="py-1 px-3 rounded-full bg-red-500 text-[14px] text-white font-semibold">X</button>
            </form>
        </span>
    </a>
    <div class="modal-box">
        <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

            <ul class="flex flex-col  space-y-6 mb-4">
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Set product expiry date.</li>
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Set notification for near dated products.</li>
                <!-- <li class="mb-4"><span class="fa fa-check mr-2"></span>Sort your income and expenses into fully-customizable categories.</li> -->
            </ul>

            <a href="#" class="my-6 w-full text-center">more...</a>
           
        </div>
    </div>
    
</dialog>


<dialog id="modal_10" class="modal py-3 px-3 rounded-lg w-1/3">
    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span class="text-primary text-2xl">Custom reporting fields</span>
        </div>
        <span>
            <form method="dialog" class="modal-backdrop">
                <button class="py-1 px-3 rounded-full bg-red-500 text-[14px] text-white font-semibold">X</button>
            </form>
        </span>
    </a>
    <div class="modal-box">
        <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

            <ul class="flex flex-col  space-y-6 mb-4">
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Search, sort, and filter the data you need, faster..</li>
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Select multiple fields per form to make your search specific.</li>
            </ul>

            <a href="#" class="my-6 w-full text-center">more...</a>
           
        </div>
    </div>
    
</dialog>


<dialog id="modal_11" class="modal py-3 px-3 rounded-lg w-1/3">
    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span class="text-primary text-2xl">Manage payments</span>
        </div>
        <span>
            <form method="dialog" class="modal-backdrop">
                <button class="py-1 px-3 rounded-full bg-red-500 text-[14px] text-white font-semibold">X</button>
            </form>
        </span>
    </a>
    <div class="modal-box">
        <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

            <ul class="flex flex-col  space-y-6 mb-4">
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Receive payments for unpaid invoices.</li>
            </ul>

            <a href="#" class="my-6 w-full text-center">more...</a>
           
        </div>
    </div>
    
</dialog>


<dialog id="modal_12" class="modal py-3 px-3 rounded-lg w-1/3">
    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span class="text-primary text-2xl">Multi-currency</span>
        </div>
        <span>
            <form method="dialog" class="modal-backdrop">
                <button class="py-1 px-3 rounded-full bg-red-500 text-[14px] text-white font-semibold">X</button>
            </form>
        </span>
    </a>
    <div class="modal-box">
        <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

            <ul class="flex flex-col  space-y-6 mb-4">
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Send invoices in different currencies and assign currencies to different customers.</li>
             
            </ul>

            <a href="#" class="my-6 w-full text-center">more...</a>
           
        </div>
    </div>
    
</dialog>


<dialog id="modal_13" class="modal py-3 px-3 rounded-lg w-1/3">
    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span class="text-primary text-2xl">Manage user roll permissions</span>
        </div>
        <span>
            <form method="dialog" class="modal-backdrop">
                <button class="py-1 px-3 rounded-full bg-red-500 text-[14px] text-white font-semibold">X</button>
            </form>
        </span>
    </a>
    <div class="modal-box">
        <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

            <ul class="flex flex-col  space-y-6 mb-4">
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Easily control who can and can't see your sensitive data.</li>
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Assign work by transaction such as deposit, sale, expense, inventory, or report.</li>
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Delegate work to users or sales reps by their assigned location to boost productivity.</li>
            </ul>

            <a href="#" class="my-6 w-full text-center">more...</a>
           
        </div>
    </div>
    
</dialog>


<dialog id="modal_14" class="modal py-3 px-3 rounded-lg w-1/3">
    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span class="text-primary text-2xl">Manage Users <snap class="user"></snap></span>
        </div>
        <span>
            <form method="dialog" class="modal-backdrop">
                <button class="py-1 px-3 rounded-full bg-red-500 text-[14px] text-white font-semibold">X</button>
            </form>
        </span>
    </a>
    <div class="modal-box">
        <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

            <ul class="flex flex-col  space-y-6 mb-4">
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Create custom access to share work safely.</li>
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Invite up to <snap class="user"></snap> unique users and unlimited reports-only users to work together remotely.</li>
                <li class="mb-4"><span class="fa fa-check mr-2"></span>Reduce errors and rework with employees working in real time inside Advanced</li>
            </ul>

            <a href="#" class="my-6 w-full text-center">more...</a>
           
        </div>
    </div>
    
</dialog>


