<button id="fd" class="fixed top-2/3 right-10 flex items-center gap-2 z-50 px-3 py-3 mt-4 text-sm font-medium leading-5 text-center font-sans text-red-600 transition-colors duration-150 bg-primary border rounded-full feedback"
    type="button" >
    <span id="fm" class="hidden">Feedback</span> 
    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"><path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" ></path></svg>
</button>


<div class="flex-auto w-7/12 lg:w-2/12 bg-primary p-8 fixed top-1/2 right-10 z-50 hidden" id="feedback">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-white uppercase font-bold font-sans leading-loose">Feedback</h2>
        <button class="py-1 px-2 rounded-full bg-red-500 text-[14px] text-white font-semibold feedback">X</button>
    </div>
    <form action="#" class="form-consultation">
        <div class="mb-4">
            <input type="text" id="name" class="w-full bg-gray-900 rounded-lg text-slate-400 text-sm" placeholder="Your Name">
        </div>
        <div class="mb-4">
            <input type="text" id="occupation" class="w-full bg-gray-900 rounded-lg text-slate-400 text-sm" placeholder="Your Occupation">
        </div>
        <div class="mb-4">
            <label class="text-white" for="">Photo</label>
            <input type="file" id="photo" class="w-full bg-gray-900 rounded-lg text-slate-400 text-sm">
        </div>
        <div class="mb-4">
            <textarea name="" id="message" cols="30" rows="3" class="w-full bg-gray-900 rounded-lg text-slate-400 text-sm" placeholder="Your Feedback"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" id="submit" class="w-full bg-green-600 py-2 submit px-3 text-white">Send Feedback</button>
        </div>
    </form>
</div>

