<section class="flex  justify-center">
	<div class="container w-7/12">
		<div class="flex flex-col md:flex-row justify-between gap-10">
			<div class="w-full">
				<div id="bg-image" class="h-full  w-full" style="background-image:url(/media/images/about.jpg); background-repeat: no-repeat;">

				</div>
			</div>
			<div class="w-full my-10">
				<div class="heading-section pl-md-4 pt-md-5">
					<span class="text-primary uppercase font-serif">Welcome to Afrikbook Accounting System</span>
					<h2 class="mb-4 font-bold font-sans text-[20px] md:text-[30px] lg:text-[35px] text-slate-900">Our Key Features
					</h2>
				</div>
				<div class="flex items-center gap-4 mb-6">
					<div class="icon d-flex align-items-center justify-content-center"><span
							class="flaticon-wealth"></span></div>
					<div class="text pl-4">
						<h4 class="text-xl font-sans font-bold mb-3">Automated Bookkeeping</h4>
						<p class="text-md font-sans text-gray-600 leading-loose">Automatically categorizes and records financial transactions, saving time and reducing manual errors</p>
					</div>
				</div>
				<div class="flex items-center gap-4 mb-6">
					<div class="icon d-flex align-items-center justify-content-center"><span
							class="flaticon-accountant"></span></div>
					<div class="text pl-4">
						<h4 class="text-xl font-sans font-bold mb-3">Invoicing and Billing</h4>
						<p class="text-md font-sans text-gray-600 leading-loose">Generates and sends professional invoices, tracks payments, and allows users to set up automated reminders for overdue invoices.</p>
					</div>
				</div>
				<div class="flex items-center gap-4 mb-6">
					<div class="icon d-flex align-items-center justify-content-center"><span
							class="flaticon-teamwork"></span></div>
					<div class="text pl-4">
						<h4 class="text-xl font-sans font-bold mb-3">Expense Tracking</h4>
						<p class="text-md font-sans text-gray-600 leading-loose">Easily records and categorizes business expenses, making it simple to monitor cash flow and identify cost-saving opportunities.</p>
					</div>
				</div>
				<div class="flex items-center gap-4 mb-6">
					<div class="icon d-flex align-items-center justify-content-center"><span
							class="flaticon-accounting"></span></div>
					<div class="text pl-4">
						<h4 class="text-xl font-sans font-bold mb-3">Payroll Management</h4>
						<p class="text-md font-sans text-gray-600 leading-loose">Manages employee payroll efficiently with tax compliance, deductions, and customizable pay schedules.</p>
					</div>
				</div>
				<div class="flex items-center gap-4 mb-6">
					<div class="icon d-flex align-items-center justify-content-center"><span
							class="flaticon-accounting"></span></div>
					<div class="text pl-4">
						<h4 class="text-xl font-sans font-bold mb-3">Financial Reporting</h4>
						<p class="text-md font-sans text-gray-600 leading-loose">Generates real-time, customizable reports such as balance sheets, income statements, and cash flow reports, providing insights into business health.</p>
					</div>
				</div>
				<div class="flex items-center gap-4 mb-6">
					<div class="icon d-flex align-items-center justify-content-center"><span
							class="flaticon-accounting"></span></div>
					<div class="text pl-4">
						<h4 class="text-xl font-sans font-bold mb-3">Multi-User Access</h4>
						<p class="text-md font-sans text-gray-600 leading-loose">Supports multiple users with customizable roles and permissions to ensure secure collaboration across departments.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
 var div = document.getElementById('bg-image')
 setInterval(function(){
	div.innerHTML = ''
	// alert("jjj")
 }, 4000)
</script>