<footer class="footer bg-primary font-sans mt-6 w-full">
    <div class="container-fluid px-lg-5">
        <div class="flex flex-col md:flex-row">
            <div class="flex-auto w-full md:w-9/12 p-8">
                <div class="flex flex-col md:flex-row gap-6">
                    <div class="w-full mb-md-0 mb-4">
                        <h2 class="text-white mb-4 uppercase font-semibold">About us</h2>
                        <p class="text-slate-400">Our accounting software is a comprehensive, user-friendly tool designed to streamline financial management for businesses of all sizes. With an intuitive interface, it automates complex tasks such as bookkeeping, invoicing, expense tracking, payroll processing, and financial reporting. Built with robust security, it ensures that sensitive financial data remains protected at all times.</p>
                        <ul class="flex gap-10 mt-6">
                            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fa fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                    <div class="w-full">
                        <div class="justify-content-center">
                            <div class="">
                                <div class="flex flex-col md:flex-row gap-20">
                                    <div class="col-md-4 mb-md-0 mb-4">
                                        <h2 class="text-white mb-4 uppercase font-semibold">Services</h2>
                                        <ul class="text-slate-400 ">
                                            <li><a href="#" class="my-4">Automated Bookkeeping</a></li>
                                            <li><a href="#" class="my-4">Invoicing and Billing</a></li>
                                            <li><a href="#" class="my-4">Expense Tracking</a></li>
                                            <li><a href="#" class="my-4">Multi-User Access</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 mb-md-0 mb-4">
                                        <h2 class="text-white mb-4 uppercase font-semibold">Discover</h2>
                                        <ul class="text-slate-400">
                                            <li><a href="{% url 'index:about' %}" class="py-1 d-block">About</a></li>
                                            <li><a href="{% url 'index:contact' %}" class="py-1 d-block">Contact</a></li>
                                            <li><a href="#" class="py-1 d-block">Terms &amp; Conditions</a></li>
                                            <li><a href="#" class="py-1 d-block">Policies</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 mb-md-0 mb-4">
                                        <h2 class="text-white mb-4 uppercase font-semibold">Resources</h2>
                                        <ul class="text-slate-400">
                                            <li><a href="#" class="py-1 d-block">Security</a></li>
                                            <li><a href="#" class="py-1 d-block">Global</a></li>
                                            <li><a href="#" class="py-1 d-block">Charts</a></li>
                                            <li><a href="#" class="py-1 d-block">Privacy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="flex-auto w-full md:w-3/12 bg-gray-900 p-8">
                <h2 class="text-white mb-4 uppercase font-bold">Free consultation</h2>
                <div id="form-message-success" class="mb-4 {% if message.tags == 'success' %} text-green-600 {%else%} text-red-500 {% endif %}">
                    {% for message in messages %}
                         {{message}}
                    {% endfor %}
                </div>
                <form method="post" action="{% url 'index:contact' %}" class="form-consultation">
                    {% csrf_token %}
                    <div class="mb-4">
                        <input type="text" name="fullname" class="w-full bg-gray-900 rounded-lg text-slate-400 text-sm" placeholder="Your Name" required>
                    </div>
                    <div class="mb-4">
                        <input type="email" name="email" class="w-full bg-gray-900 rounded-lg text-slate-400 text-sm" placeholder="Your Email" required>
                    </div>
                    <div class="mb-4">
                        <input type="text" name="subject" class="w-full bg-gray-900 rounded-lg text-slate-400 text-sm" placeholder="Subject" required>
                    </div>
                    <div class="mb-4">
                        <textarea name="message" id="" cols="30" rows="3" class="w-full bg-gray-900 rounded-lg text-slate-400 text-sm" placeholder="Message" required></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="w-full bg-green-600 py-2 submit px-3 text-white">Send A Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>