{% include 'components/modalBox/plansmodal.html' %}

<section class="flex justify-center my-20">
	<div class="container w-7/12 font-sans">
		<div class="pb-5 mb-10">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Price &amp; Plans</span>
				<h2 class="font-bold font-mono uppercase text-[20px] md:text[35px] lg:text-[35px]">Affordable Packages</h2>
			</div>
		</div>
		<div class="grid md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-6 mb-8 my-5 w-full text-gray-600">
		
			<div class="shadow bg-white py-4 mb-6  ftco-animate">
				<div class="block-7">
					<div class="flex flex-col  items-center">
						<span class="text-primary text-2xl mb-10">Personal</span>
						<span class="mb-6"><sup class="absolte top-[-20px] text-lg font-mono">$</sup> <span class="number font-bold text-[50px]">9</span> <sub class="text-sm">/mos</sub></span>

						<ul class="flex flex-col justify-center px-4">
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_1.showModal()"><span class="fa fa-check mr-2"></span>Track income & expenses</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_2.showModal()"><span class="fa fa-check mr-2"></span>Send Unlimited invoice and quotes</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_3.showModal()"><span class="fa fa-check mr-2"></span>Send automatic invoice and quotes</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_4.showModal()"><span class="fa fa-check mr-2"></span>Insights & report</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_5.showModal()"><span class="fa fa-check mr-2"></span>Track Vat</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_6.showModal()"><span class="fa fa-check mr-2"></span>Track customers, vendors and User activity</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_7.showModal()"><span class="fa fa-check mr-2"></span>Manage Depts</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_8.showModal()"><span class="fa fa-check mr-2"></span>Track inventory</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_9.showModal()"><span class="fa fa-check mr-2"></span>Manage inventory</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_10.showModal()"><span class="fa fa-check mr-2"></span>Custom reporting fields</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_11.showModal()"><span class="fa fa-check mr-2"></span>Manage payments</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_12.showModal()"><span class="fa fa-check mr-2"></span>Multi-currency</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_13.showModal()"><span class="fa fa-check mr-2"></span>Manage user roll permissions</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="Users(5)"><span class="fa fa-check mr-2"></span>Manage Users(5)</li>
						</ul>

						<a href="#" class="bg-primary  px-4 py-2 my-4 w-full text-center">Get Started</a>
					</div>
				</div>
			</div>
			<div class="shadow bg-white py-4 mb-6  ftco-animate">
				<div class="block-7">
					<div class="flex flex-col  items-center">
						<span class="text-primary text-2xl mb-10">Business</span>
						<span class="mb-6"><sup class="absolte top-[-20px] text-lg font-mono">$</sup> <span class="number font-bold text-[50px]">12</span> <sub class="text-sm">/mos</sub></span>

						<ul class="flex flex-col justify-center px-4">
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_1.showModal()"><span class="fa fa-check mr-2"></span>Track income & expenses</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_2.showModal()"><span class="fa fa-check mr-2"></span>Send Unlimited invoice and quotes</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_3.showModal()"><span class="fa fa-check mr-2"></span>Send automatic invoice and quotes</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_4.showModal()"><span class="fa fa-check mr-2"></span>Insights & report</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_5.showModal()"><span class="fa fa-check mr-2"></span>Track Vat</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_6.showModal()"><span class="fa fa-check mr-2"></span>Track customers, vendors and User activity</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_7.showModal()"><span class="fa fa-check mr-2"></span>Manage Depts</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_8.showModal()"><span class="fa fa-check mr-2"></span>Track inventory</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_9.showModal()"><span class="fa fa-check mr-2"></span>Manage inventory</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_10.showModal()"><span class="fa fa-check mr-2"></span>Custom reporting fields</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_11.showModal()"><span class="fa fa-check mr-2"></span>Manage payments</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_12.showModal()"><span class="fa fa-check mr-2"></span>Multi-currency</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_13.showModal()"><span class="fa fa-check mr-2"></span>Manage user roll permissions</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="Users(10)"><span class="fa fa-check mr-2"></span>Manage Users(10)</li>
						</ul>

						<a href="#" class="bg-primary  px-4 py-2 my-4 w-full text-center">Get Started</a>
					</div>
				</div>
			</div>
			<div class="shadow bg-white py-4 mb-6  ftco-animate">
				<div class="block-7">
					<div class="flex flex-col  items-center">
						<span class="text-primary text-2xl mb-10">Ultimate</span>
						<span class="mb-6"><sup class="absolte top-[-20px] text-lg font-mono">$</sup> <span class="number font-bold text-[50px]">18</span> <sub class="text-sm">/mos</sub></span>

						<ul class="flex flex-col justify-center px-4">
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_1.showModal()"><span class="fa fa-check mr-2"></span>Track income & expenses</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_2.showModal()"><span class="fa fa-check mr-2"></span>Send Unlimited invoice and quotes</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_3.showModal()"><span class="fa fa-check mr-2"></span>Send automatic invoice and quotes</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_4.showModal()"><span class="fa fa-check mr-2"></span>Insights & report</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_5.showModal()"><span class="fa fa-check mr-2"></span>Track Vat</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_6.showModal()"><span class="fa fa-check mr-2"></span>Track customers, vendors and User activity</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_7.showModal()"><span class="fa fa-check mr-2"></span>Manage Depts</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_8.showModal()"><span class="fa fa-check mr-2"></span>Track inventory</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_9.showModal()"><span class="fa fa-check mr-2"></span>Manage inventory</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_10.showModal()"><span class="fa fa-check mr-2"></span>Custom reporting fields</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_11.showModal()"><span class="fa fa-check mr-2"></span>Manage payments</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_12.showModal()"><span class="fa fa-check mr-2"></span>Multi-currency</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_13.showModal()"><span class="fa fa-check mr-2"></span>Manage user roll permissions</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="Users(15)"><span class="fa fa-check mr-2"></span>Manage Users(15)</li>
						</ul>

						<a href="#" class="bg-primary  px-4 py-2 my-4 w-full text-center">Get Started</a>
					</div>
				</div>
			</div>
			<div class="shadow bg-white py-4 mb-6  ftco-animate">
				<div class="block-7">
					<div class="flex flex-col  items-center">
						<span class="text-primary text-2xl mb-10">Premium</span>
						<span class="mb-6"><sup class="absolte top-[-20px] text-lg font-mono">$</sup> <span class="number font-bold text-[50px]">35</span> <sub class="text-sm">/mos</sub></span>

						<ul class="flex flex-col justify-center px-4">
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_1.showModal()"><span class="fa fa-check mr-2"></span>Track income & expenses</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_2.showModal()"><span class="fa fa-check mr-2"></span>Send Unlimited invoice and quotes</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_3.showModal()"><span class="fa fa-check mr-2"></span>Send automatic invoice and quotes</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_4.showModal()"><span class="fa fa-check mr-2"></span>Insights & report</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_5.showModal()"><span class="fa fa-check mr-2"></span>Track Vat</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_6.showModal()"><span class="fa fa-check mr-2"></span>Track customers, vendors and User activity</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_7.showModal()"><span class="fa fa-check mr-2"></span>Manage Depts</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_8.showModal()"><span class="fa fa-check mr-2"></span>Track inventory</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_9.showModal()"><span class="fa fa-check mr-2"></span>Manage inventory</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_10.showModal()"><span class="fa fa-check mr-2"></span>Custom reporting fields</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_11.showModal()"><span class="fa fa-check mr-2"></span>Manage payments</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_12.showModal()"><span class="fa fa-check mr-2"></span>Multi-currency</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="modal_13.showModal()"><span class="fa fa-check mr-2"></span>Manage user roll permissions</li>
							<li class="text-sm mb-2 cursor-pointer" onclick="Users(30)"><span class="fa fa-check mr-2"></span>Manage Users(30)</li>
						</ul>

						<a href="#" class="bg-primary  px-4 py-2 my-4 w-full text-center">Get Started</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>

<script>
   function Users(number){
	$(".user").text(number)
	modal_14.showModal()
   }
</script>