<section class="flex  justify-center my-20">
	<div class="container w-7/12">
		<div class="flex flex-col md:flex-row items-center">
			<div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 mb-4 ftco-animate">
				<div class="d-block">

					<div class="media-body">
						<h3 class="text-xl font-sans font-bold mb-3">Efficiency</h3>
						<p class="text-md font-sans text-gray-600 leading-normal">Automates repetitive tasks, allowing users to focus on higher-value activities.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 mb-4 ftco-animate">
				<div class="d-block">

					<div class="media-body">
						<h3 class="text-xl font-sans font-bold mb-3">Real-Time Insights</h3>
						<p class="text-md font-sans text-gray-600 leading-normal">With dashboard views and instant reporting, users get a clear picture of their finances at a glance.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 mb-4 ftco-animate">
				<div class="d-block">

					<div class="media-body">
						<h3 class="text-xl font-sans font-bold mb-3">Accuracy</h3>
						<p class="text-md font-sans text-gray-600 leading-normal"> Reduces human error through automation and real-time data synchronization.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 mb-4 ftco-animate">
				<div class="d-block">

					<div class="media-body">
						<h3 class="text-xl font-sans font-bold mb-3">Scalability</h3>
						<p class="text-md font-sans text-gray-600 leading-normal">Grows with your business, offering features to meet the needs of small startups to larger enterprises.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>