<div class="hidden  bg-primary py-6" id="side-nav">
    <ul class="flex flex-col items-start  uppercase text-sm font-semibold font-sans">
      <a href="{% url 'index:home' %}" class="transition  duration-300 delay-50 w-full p-2 hover:bg-gray-900 mb-2">Home</a>
      <a href="{% url 'index:about' %}" class="transition  duration-300 delay-50 w-full p-2 hover:bg-gray-900 mb-2">About</a>
      {% comment %} <a href="{% url 'index:services' %}" class="transition  duration-300 delay-50 w-full p-2 hover:bg-gray-900 mb-2">Services</a> {% endcomment %}
      <a href="{% url 'index:mannual' %}" class="transition  duration-300 delay-50 w-full p-2 hover:bg-gray-900 mb-2">Mannual</a>
      <a href="{% url 'index:contact' %}" class="transition  duration-300 delay-50 w-full p-2 hover:bg-gray-900 mb-2">Contact</a>
    </ul>
</div>
