<div class="hidden  bg-primary py-6" id="side-nav">
    <ul class="flex flex-col items-start  uppercase text-sm font-semibold font-sans">
      <li class="transition  duration-300 delay-50 w-full p-2 hover:bg-gray-900 mb-2"><a href="{% url 'index:home' %}" class="nav-link">Home</a></li>
      <li class="transition  duration-300 delay-50 w-full p-2 hover:bg-gray-900 mb-2"><a href="{% url 'index:about' %}" class="nav-link">About</a></li>
      <li class="transition  duration-300 delay-50 w-full p-2 hover:bg-gray-900 mb-2"><a href="{% url 'index:services' %}" class="nav-link">Services</a></li>
      <li class="transition  duration-300 delay-50 w-full p-2 hover:bg-gray-900 mb-2"><a href="{% url 'index:mannual' %}" class="nav-link">Mannual</a></li>
      <!-- <li class="transition  duration-300 delay-50 w-full p-2 hover:bg-gray-900 mb-2"><a href="{% url 'index:blog' %}" class="nav-link">Blog</a></li> -->
      <li class="transition  duration-300 delay-50 w-full p-2 hover:bg-gray-900 mb-2"><a href="{% url 'index:contact' %}" class="nav-link">Contact</a></li>
    </ul>
</div>