<section class="flex justify-center items-center bg-primary my-6">
	<div class="container  p-4">
		<div class="flex flex-col md:flex-row justify-between items-center font-sans">
			<div class="text-center my-4 w-full">
				<h2 class="text-lg">Sign Up for Your Free 1st Accounting
					Consultation</h2>
			</div>
			<div class="my-4 w-full">
				<form action="#" class="subscribe-form">
					<div class="flex justify-end items-center">
						<!-- <input type="text" class="form-control rounded-l h-10 w-full" placeholder="Enter email address"> -->
						<!-- <input type="submit" value="Subscribe" class="submit px-3  h-10 bg-green-600 hover:bg-green-800"> -->
							<a href="https://acc.afrikbook.com/NewCompany" class="px-3 py-2  h-10 bg-green-600 hover:bg-green-800">Subscribe</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>