<section class="bg-gray-100 my-6 flex justify-center py-20">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-center pb-5 mb-3">
			<div class="col-md-7 heading-section heading-section-white text-center ftco-animate">
				<span class="font-sans text-lg">Testimonies</span>
				<h2 class="text-[35px] font-bold font-sans">Happy Clients &amp; Feedbacks</h2>
			</div>
		</div>
		<div class="row ftco-animate">
			<div class="col-md-12">
				<div class="carousel-testimony owl-carousel ftco-owl px-4 md:px-0">
					<div class="item shadow bg-white rounded-xl p-4">
						<div class="testimony-wrap py-4">
							<div
								class="absolute top-0 right-10 z-auto bg-primary h-10 w-10 flex items-center justify-center rounded-b-lg">
								<span class="text-white text-center">1</span>
							</div>
							<div class="text">
								<div class="flex items-center">
									<div class="bg-cover bg-center h-28 w-28"
										style="background-image: url(/media/images/person_1.jpg)"></div>
									<div class="pl-3">
										<p class="text-md font-sans font-semibold">Roger Scott</p>
										<span class="text-sm font-sans">Marketing Manager</span>
									</div>
								</div>
								<p class="mt-4 font-sans">Far far away, behind the word mountains, far from the
									countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div>
					</div>
					<div class="item shadow bg-white rounded-xl p-4">
						<div class="testimony-wrap py-4">
							<div
								class="absolute top-0 right-10 z-auto bg-primary h-10 w-10 flex items-center justify-center rounded-b-lg">
								<span class="text-white text-center">2</span>
							</div>
							<div class="text">
								<div class="flex items-center">
									<div class="bg-cover bg-center h-28 w-28"
										style="background-image: url(/media/images/person_2.jpg)"></div>
									<div class="pl-3">
										<p class="text-md font-sans font-semibold">Roger Scott</p>
										<span class="text-sm font-sans">Marketing Manager</span>
									</div>
								</div>
								<p class="mt-4 font-sans">Far far away, behind the word mountains, far from the
									countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div>
					</div>
					<div class="item shadow bg-white rounded-xl p-4">
						<div class="testimony-wrap py-4">
							<div
								class="absolute top-0 right-10 z-auto bg-primary h-10 w-10 flex items-center justify-center rounded-b-lg">
								<span class="text-white text-center">3</span>
							</div>
							<div class="text">
								<div class="flex items-center">
									<div class="bg-cover bg-center h-28 w-28"
										style="background-image: url(/media/images/person_1.jpg)"></div>
									<div class="pl-3">
										<p class="text-md font-sans font-semibold">Roger Scott</p>
										<span class="text-sm font-sans">Marketing Manager</span>
									</div>
								</div>
								<p class="mt-4 font-sans">Far far away, behind the word mountains, far from the
									countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div>
					</div>
					<div class="item shadow bg-white rounded-xl p-4">
						<div class="testimony-wrap py-4">
							<div
								class="absolute top-0 right-10 z-auto bg-primary h-10 w-10 flex items-center justify-center rounded-b-lg">
								<span class="text-white text-center">4</span>
							</div>
							<div class="text">
								<div class="flex items-center">
									<div class="bg-cover bg-center h-28 w-28"
										style="background-image: url(/media/images/person_1.jpg)"></div>
									<div class="pl-3">
										<p class="text-md font-sans font-semibold">Roger Scott</p>
										<span class="text-sm font-sans">Marketing Manager</span>
									</div>
								</div>
								<p class="mt-4 font-sans">Far far away, behind the word mountains, far from the
									countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
